@page "/register"
@inject HttpClient Http
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IJSRuntime JS
<h3>Maak een account  aan </h3>

    <div class="mb-3 mt-3">
    <label for="usernameRegister">Gebruikersnaam:</label>
    <input type="text" class="form-control" id="usernameRegister" placeholder="gebruikersnaam" @bind="_usernameRegister" />
    </div>

<div class="mb-3">
    <label for="passwordRegister">Wachtwoord:</label>
    <input type="password" class="form-control" id="passwordRegister" placeholder="wachtwoord" @bind="_passwordRegister" />
</div>

<button class="btn btn-primary" @onclick="RegisterUser">Maak account aan </button>
@code{
    private string _usernameRegister = "";
    private string _passwordRegister = "";

    private async Task RegisterUser()
    {
        var url = $"(/ users / register={Uri.EscapeDataString(_usernameRegister)}&password={Uri.EscapeDataString(_passwordRegister)}";
        var response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }
        
        
    
        

    }
}
